html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    width: 100%;
    max-width: 800px;
    margin: 80px auto;
    padding: 10px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
    background-image: url("https://image.freepik.com/darmowe-wektory/analiza-rynku-akcji-i-handel-akcjami-symbole-walut-wykresy-biznesowe-i-globalne-transfery-pieniezne_115579-1283.jpg");
    background-size: cover;
}

.form {
    margin: auto 10px;
    padding: 30px 30px;
    background-color: hsl(194, 33%, 87%);
    border-radius: 10px;
}

.form__legend {
    font-size: 34px;
    padding: 2px;
    text-transform: uppercase;
}

.form__fieldset {
    border-radius: 10px;
    padding: 10px;
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin: 5px;
}

.form__field {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: solid 2px hsl(0, 0%, 50%);
    border-radius: 10px;
}

.form__buttonContainer {
    display: block;
    margin: 40px 5px;
}

.form__button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: hsl(214, 55%, 33%);
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.6px;
}

.form__button:hover {
    background-color: hsl(219, 60%, 38%);
}

.form__button:active {
    background-color: hsl(219, 60%, 43%);
}

.form__paragraph {
    text-align: center;
    text-decoration: solid;
    letter-spacing: 1.7px;
    padding: 10px;
    margin: 5px;
    background-color: hsl(214, 34%, 55%);
    color: hsl(0, 0%, 100%);
    max-width: 100%;
    border-radius: 15px;
}

.form__footer {
    font-size: 14px;
    margin-top: 15px;
}