.form {
    margin: auto 10px;
    padding: 30px 30px;
    background-color: hsl(194, 33%, 87%);
    border-radius: 10px;
}

.form__legend {
    font-size: 34px;
    padding: 2px;
    text-transform: uppercase;
}

.form__fieldset {
    border-radius: 5px;
    padding: 10px;
}