.form {
    margin: auto 10px;
    padding: 30px 30px;
    background-color: hsl(194, 33%, 87%);
    border-radius: 10px;
}

.form__legend {
    font-size: 34px;
    padding: 2px;
    text-transform: uppercase;
}

.form__buttonContainer {
    display: block;
    margin: 40px 5px;
}

.form__button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: hsl(214, 55%, 33%);
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.6px;
}

.form__button:hover {
    background-color: hsl(219, 60%, 38%);
}

.form__button:active {
    background-color: hsl(219, 60%, 43%);
}

.form__footer {
    font-size: 14px;
    margin-top: 15px;
}