.form__paragraph {
    text-align: center;
    text-decoration: solid;
    letter-spacing: 1.7px;
    padding: 10px;
    margin: 5px;
    background-color: hsl(214, 34%, 55%);
    color: hsl(0, 0%, 100%);
    max-width: 100%;
    border-radius: 15px;
}